.task {
    border: 1px solid black;
    border-radius: 15px;
    margin: 5px;
    padding: 5px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    position: relative;
}



.action-icon {
    position: absolute;
    right: 1rem;
    max-width: 23px;
    cursor: pointer;
}

.spinner-icon {
    position: absolute;
    right: 1rem;
    max-width: 5vw;
}
